doctype html
head
  title.ttile title
  //
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=Edge')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet' href='/movie/css/bootstrap.min.css')
  link(rel='stylesheet' href='/movie/css/magnific-popup.css')
  link(rel='stylesheet' href='/movie/css/font-awesome.min.css')
  // MAIN CSS
  link(rel='stylesheet' href='/movie/css/templatemo-style.css')
// PRE LOADER
section.preloader
  .spinner
    span.spinner-rotate
// MENU
section.navbar.custom-navbar.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
        span.icon.icon-bar
        span.icon.icon-bar
        span.icon.icon-bar
      // lOGO TEXT HERE
      a.navbar-brand(href='/index').ttile title
    // MENU LINKS
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            i.fa.fa-facebook-square
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-instagram
        li.section-btn
          a(href='/logout') Logout
// HOME
section#home(data-stellar-background-ratio='0.5')
  .overlay
  .container
    .row
      .col-md-6.col-sm-12
        .home-info
          h1.ttile Title
          img.imagee(src="" width="30%")
          span
            small.llead
            small.yyear
            small.ggenre
            small.rrating
            each val in movie
              - var edit = `${val.title}`;
              a.btn.btn-primary(href=('/editmovie/'+ `${edit}`)) Edit

          <br/>
          a.btn.section-btn.smoothScroll(href='#about') Start Watching
      .col-md-6.col-sm-12
        .home-video
          .embed-responsive.embed-responsive-16by9
            video.ttrailer(width='' height='' controls='')
              source(src='' type='video/mp4')
              autoplay="autoplay"
              | Your browser does not support the video tag.
            //- iframe.ttrailer(src='' frameborder='0' allowfullscreen='')
// ABOUT
section#about(data-stellar-background-ratio='0.5')
  .container
        .home-video
          .embed-responsive.embed-responsive-16by9
            video.mmovie(width='320' height='240' controls='')
              source(src='/images/banner.mp4' type='video/mp4')
              | Your browser does not support the video tag.
            //- iframe.mmovie(src='' frameborder='0' allowfullscreen='')
        <br />
        div#lights
          a.btn.section-btn.lightson Turn off lights
        <br />
        h1 Comments:
        each val in movie
         - var k =  `${val.comments.length}`;
          - for (var i = 0; i < k ; ++i) {
              h3 Name:
                p #{val.comments[i][0]} 
              h3 Comment:
                p #{val.comments[i][1]} 
              <hr>
          - }
        div#extra
          each val in movie
            p.tittle #{val.title}
            p.genree #{val.genre}
            p.leadd #{val.lead}
            p.imagelink #{val.imagelink}
            p.videolink #{val.videolink}
            p.trailerlink #{val.trailerlink}
            p.year #{val.year}
            p.rating #{val.rating}
            p #{val.comments}
            //- - var edit = `${val.title}`;


// CONTACT
section#contact(data-stellar-background-ratio='0.5')
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          h2 Post a comment!
          span.line-bar ...
        // CONTACT FORM HERE
        form#contact-form(role='form' action='/commentpost' method='post')
          .col-md-6.col-sm-6
            input#cf-name.form-control(type='text' placeholder='Full Name' name='name' required='')
          .col-md-6.col-sm-6
            input#cf-title.form-control(type='text' name='title' hidden)
          //- .col-md-6.col-sm-6
          //-   input#cf-number.form-control(type='tel' placeholder='Your Phone' name='cf-number' required='')
          //- .col-md-6.col-sm-6
          //-   select#cf-budgets.form-control(name='cf-budgets')
          //-     option Budget Level
          //-     option $500 to $1,000
          //-     option $1,000 to $2,200
          //-     option $2,200 to $4,500
          //-     option $4,500 to $7,500
          //-     option $7,500 to $12,000
          //-     option $12,000 or more
          .col-md-12.col-sm-12
            textarea#cf-message.form-control(rows='6' placeholder='Your Comment' name='message' required='')
          .col-md-4.col-sm-12
            input.form-control(type='submit' name='submit' value='Send Message' id='send')
        
// FOOTER
footer(data-stellar-background-ratio='0.5')
  .container
    .row
      .col-md-5.col-sm-12
        .footer-thumb.footer-info
          h2 Theatre
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-2.col-sm-4
        .footer-thumb
          h2 Categories
          ul.footer-link
            li
              a(href='#') Action
            li
              a(href='#') Comedy
            li
              a(href='#') New Release
// SCRIPTS
script(src='/movie/js/jquery.js')
script(src='/movie/js/bootstrap.min.js')
script(src='/movie/js/jquery.stellar.min.js')
script(src='/movie/js/jquery.magnific-popup.min.js')
script(src='/movie/js/smoothscroll.js')
script(src='/movie/js/custom.js')
script(src='/movie/js/test.js')


